<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        {{#each persons}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.city}}</td>
            </tr>
        {{/each}}  
    </table>
    <a href="/pages/add"><button>Add Data</button></a>
    <a href="/pages/del"><button>Rem Data</button></a>
</body>
</html>