<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add person</title>
</head>
<body>
    <form action="/pages/del" method="POST">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>